<%- include ("includes/header")%>
<section class="container" style="min-height: 70vh; overflow: hidden; margin-top: 80px;">
  <div class="box-shadow content-container" style="padding: 20px 20px 40px 20px;">
    <% activity.phases.forEach((phase) => { %>
    <h2 style="text-decoration: underline;">Phase <%= phase.phaseNumber %></h2>
    <p><%= phase.theme %></p>
    <p><%- phase.description %></p>
    <% }); %>
  </div>
</section>
<%- include ("includes/footer") %>