<div class="row media content-section box-shadow">
  <div class="col-lg-6 p-lg-2 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100" style="padding: 0">
    <img src="<%= article.imageUrl %>" class="article-img" alt="">
  </div>
  <div class="col-lg-6 pt-2 pl-3 pr-3 pt-lg-0 order-2 order-lg-1 content media-body text-justify" data-aos="fade-right" data-aos-delay="100">
    <div class="article-metadata d-flex mt-2">
      <!-- <a class="col-6" href="" style="padding: 0; text-align: left"><%= article.creator %></a> -->
      <p class="col-6 text-muted text-left" style="padding: 0;">
        <%= moment(article.createdAt).format('Do MMMM, YYYY')%></p>
    </div>
    <h3><a class="article-title" href=""><%= article.title %></a>
    </h3>

    <p id="articleContent" class="article-content"><%- article.description %></p>



    <% if( article.link != '') { %>
    <ul style="padding: 0;">
      <li style="list-style-type: none !important; display:inline-flex;" class="extra-article-content">
        <i class="ri-check-double-line"></i>
        <a target="_blank" href="<%= article.link %>">Go to output link</a>
      </li>
    </ul>
    <% } %>

    <% if (isAuthenticated) { %>
    <a href="/articles-admin/edit-article/<%= article._id %>">
      <button type="button" id="add-article-button" class="ui primary labeled icon button" style="background: var(--main-color) !important; border: 1px solid var(--main-color) !important; margin-right: 0">
        <i class="setting icon"></i>
        EDIT
      </button></a>
    <a href="/articles-admin/delete-article/<%= article._id %>" id="delete">
      <button type="button" id="add-article-button" class="ui primary labeled icon button" style="background: red !important; border: 1px solid red !important; margin-right: 0">
        <i class="trash icon"></i>
        DELETE
      </button></a>
    <% } %>

  </div>

</div>
</div>