<%- include("includes/admin-header") -%>
<!-- CONTENTS -->
<div class="add-article">
    <div class="container">
        <div class="add-article-form">
            <form name="form" method="POST" action="/trainers-admin/edit-trainer/<%= id %>"
                enctype="multipart/form-data">
                <legend style="text-align: center; font-size: 30px;">EDIT TRAINER</legend>

                <div class="form-group">
                    <label for="title">Trainer Fullname</label>
                    <input type="text" class="text-center form-control" id="title" placeholder="Trainer name"
                        name="name" value="<%= name %>" required>
                </div>
                <div class="form-group">
                    <label for="title">Phone</label>
                    <input type="tel" class="text-center form-control" id="title" placeholder="Phone" name="phone"
                        value="<%= phone %>" required>
                </div>
                <div class="form-group">
                    <label for="title">Email</label>
                    <input type="email" class="text-center form-control" id="title" placeholder="Email" name="email"
                        value="<%= email %>" required>
                </div>

                <div class="form-group">
                    <label for="">School Assigned</label>
                    <select class="form-control" name="school" placeholder="School">
                        <% schools.forEach((school) => { %>
                        <option value="<%= school.slug %>" <% if (school.slug == school) { %> selected="selected"
                            <% } %>><%= school.name %></option>
                        <% }); %>
                    </select>
                </div>

                <% if(message != ''){ %>
                <div style="width: 100%; text-align: center;">
                    <h4 style="color: brown;">
                        <%= message %>
                    </h4>
                </div>
                <% } %>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary" id="login-button">Save trainer</button>
                </div>
                <!-- <div class="not-spin">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div> -->
            </form>
        </div>
    </div>
</div>


<%- include("includes/admin-footer") -%>