<%- include ("includes/header") -%>
<!-- ======= Hero Section ======= -->
<div style="overflow: hidden">
  <section id="hero" class="d-flex align-items-center justify-content-center"
    style="background: url(images/8.jpg) no-repeat center center fixed; background-size: cover;">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <h1>SmartGirlz in ICT<span>.</span></h1>
          <h2>The initiative aims to encourage and empower girls and young women to consider studies and careers in the
            growing field of Information and Communication Technologies (ICTs).</h2>
        </div>
      </div>

      <!-- <div class="row mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
      <div class="col-xl-2 col-md-4 col-6">
        <div class="icon-box">
          <i class="ri-store-line"></i>
          <h3><a href="">Lorem Ipsum</a></h3>
        </div>
      </div>
      <div class="col-xl-6 col-md-6 col-6 ">
        <div class="icon-box"> -->
          <!-- <i class="ri-bar-chart-box-line"></i> -->
          <!-- <i>Mission</i>
          <h3 style="font-size: 16px"><a href=""> Through training and competitions: trainings are conducted on soft and technical ICT skills, and thereafter nurturing the girls as they gain the ability to solve social challenges using ICT. The competition rewards serves as a motivation towards realization of career opportunities.</a></h3>
        </div>
      </div> -->
      <!-- <div class="col-xl-2 col-md-4 col-6 mt-4 mt-md-0">
        <div class="icon-box">
          <i class="ri-calendar-todo-line"></i>
          <h3><a href="">Our Calender</a></h3>
        </div>
      </div>
      <div class="col-xl-2 col-md-4 col-6 mt-4 mt-xl-0">
        <div class="icon-box">
          <i class="ri-paint-brush-line"></i>
          <h3><a href="">Magni Dolores</a></h3>
        </div>
      </div>
      <div class="col-xl-2 col-md-4 col-6 mt-4 mt-xl-0">
        <div class="icon-box">
          <i class="ri-database-2-line"></i>
          <h3><a href="">Nemos Enimade</a></h3>
        </div>
      </div> -->
    <!-- </div> -->

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="images/10.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content text-justify" data-aos="fade-right"
            data-aos-delay="100">
            <h3>Smart Girls in ICT</h3>
            <p class="font-italic">
              Is a programme that aims to build capacity in ICT to Secondary School Girls. The programme is inspired by
              the International Telecommunication Union (ITU)'s International Girls in ICT Day initiative. The
              initiative aims to encourage and empower girls and young women to consider studies and careers in the
              growing field of Information and Communication Technologies (ICTs).
            </p>
            <h3>Vision</h3>
            <ul>
              <li><i class="ri-check-double-line"></i>To increase number of women professionals in the ICT field.</li>
            </ul>
            <h3>Mission</h3>
            <p>
              Through training and competitions: trainings are conducted on soft and technical ICT skills, and
              thereafter nurturing the girls as they gain the ability to solve social challenges using ICT. The
              competition rewards serves as a motivation towards realization of career opportunities.
            </p>
          </div>
        </div>

      </div>
    </section>
    <!-- End About Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div style="padding: 0 15px" class="col-lg-6">
            <div class="image " style='background-image: url("images/7.jpg"); height: 100%' data-aos="fade-right">
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
            <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-receipt"></i>
              <h4>HCD Training</h4>
              <p>Students are trained on Innovation, Human Centered Design (HCD) skills to nurture their creativity.</p>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-cube-alt"></i>
              <h4>Solution Prototype Building</h4>
              <p>We use Prototyping as an integral part of Design Thinking and User Experience design in general.</p>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-images"></i>
              <h4>Soft Skills Development</h4>
              <p>Students are trained on how to pitch and present their ideas, solutions' prototypes and products to
                different audiences.</p>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-shield"></i>
              <h4>In-school Competition</h4>
              <p>The teams in each school entered into an in-school competitions where the generated solution prototypes
                were evaluated to get three (3) best ideas.</p>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- End Features Section -->

    <!-- ======= Sponsors Section ======= -->
    <section id="clients" class="clients">
      <div class="container" data-aos="zoom-in">

        <div class="owl-carousel clients-carousel">
          <a href="https://coict.udsm.ac.tz/" target="_blank" rel="noopener noreferrer"><img
              src="images/sponsors/udsm.png" alt=""></a>
          <a href="https://y4cinnovationhub.wordpress.com/" target="_blank" rel="noopener noreferrer"><img
              src="images/sponsors/y4c.jpg" alt=""></a>
          <a href="https://www.unicef.org/" target="_blank" rel="noopener noreferrer"><img
              src="images/sponsors/Unicef_logo.png" alt=""></a>
          <a href="" target="_blank" rel="noopener noreferrer"><img src="images/sponsors/udict.png" alt=""></a>
          <a href="https://dlab.or.tz/" target="_blank" rel="noopener noreferrer"><img
              src="images/sponsors/dLab_main logo.png" alt="" style="width:100%; margin-top:20px;"></a>
          <a href="https://www.ictc.go.tz/" target="_blank" rel="noopener noreferrer"><img
              src="images/sponsors/ictc.png" alt="" style="width:100%; margin-top:10px;"></a>
        </div>

      </div>
    </section><!-- End Clients Section -->

    <!-- ======= Recent Articles Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Articles</h2>
          <p>Check our recent Articles</p>
        </div>

        <div class="about col-12" data-aos="fade-up">
          <% for(i = 3; i <= 5; i++) { %>
          <% const src = "images/" + i + ".jpg" %>
          <%- include ("article-card", {src: src}) %>
          <% } %>
        </div>
    </section>
    <!-- End Recent Articles Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
          <h3>Call To Action</h3>
          <p> The “Girls in ICT” Programme, a project that seeks to increase the number of girls and young womens in ICT
            fields. We call for people, Governments, Companies and Organizations to sponsor this programme so that more
            girls get into ICT as its contribution to mainstream gender in ICT.
          </p>
          <a class="cta-btn" href="#contact">Sponsor Us</a>
        </div>

      </div>
    </section>
    <!-- End Cta Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Gallery</h2>
          <p>Check our Gallery</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active"><a style="color: var(--white-color); height: 100%; width: 100%"
                  href="/gallery">ALL</a></li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <% for(i = 2; i <= 7; i++) { 
                const src = "images/" + i + ".jpg" %>
          <%- include ("./portfolio", {src: src}) %>
          <% } %>

        </div>

      </div>
    </section>
    <!-- End Portfolio Section -->

    <!-- ======= Counts Section ======= -->
    <%- include ("./counts") %>
    <!-- End Counts Section -->

    <!-- ======= Team Section ======= -->
    <%- include ("./team") %>
    <!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <%- include ("./contact") %>
    <!-- End Contact Section -->

  </main><!-- End #main -->
</div>

<%- include ("includes/footer") -%>