<%- include ("includes/header") %> 
<section class="container" style="min-height: 70vh; margin-top: 10px">
    <div class="box-shadow content-container" style="padding: 20px 20px 40px 20px;">
        <div>
            <h2 style="margin-bottom: 20px;">SmartGirlz Workforce</h2>
        </div>
        <div>
            <%- include ("phase-trainer-table", {phase: 1}) %> 
        </div>
        <div>
            <%- include ("phase-trainer-table", {phase: 2}) %> 
        </div>
        <div>
            <%- include ("coachers-table") %> 
        </div>
    </div>
</section>
<%- include ("includes/footer") %> 